<div class="container">
  <div class="row">
    <h4 style="margin: 0 0 30px 30px;"><%= @customer.name %>さんの会員詳細</h4>
      <%= form_with model: [:admins, @customer], local: true do |f| %>
        <div class="form-group">
          <%= f.label "会員ID", class: "col-xs-2" %>
          <%= @customer.id %>
        </div>
        <div class="form-group">
          <%= f.label "氏名", class: "col-xs-2" %>
          <%= f.text_field :name, class: "form_control " %>
        </div>
        <div class="form-group">
          <%= f.label "フリガナ", class: "col-xs-2" %>
          <%= f.text_field :name_kana, class: "form_control" %>
        </div>
        <div class="form-group">
          <%= f.label "郵便番号", class: "col-xs-2" %>
          <%= f.text_field :postal_code, class: "form_control" %>
        </div>
        <div class="form-group">
          <%= f.label "住所", class: "col-xs-2" %>
          <%= f.text_field :address, size: 50, class: "form_control" %>
        </div>
        <div class="form-group">
          <%= f.label "電話番号", class: "col-xs-2" %>
          <%= f.text_field :telephone_number, class: "form_control" %>
        </div>
        <div class="form-group">
          <%= f.label "メールアドレス", class: "col-xs-2" %>
          <%= f.email_field :email, class: "form_control" %>
        </div>
        <div class="form-group">
          <%= f.label "会員ステータス", class: "col-xs-2" %>
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted, "有効", value: false %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会済み", value: true %>
        </div>
          <%= f.submit "変更を保存する", class: "btn btn-primary", style: "margin-left: 10px;" %>
      <% end %>
  </div>
</div>

