<div class="container">
  <div class="row">
    <h3 class="col-8 text-center">レシピ投稿</h3>
  </div>

  <div class="row">
    <div class="food-recipe col-8">
      <%= form_with model: [:customers, @food], local: true do |f| %>
        <div class="food-image form-group">
          <%= attachment_image_tag @food, :image, class: "img-square", fallback: "no_img.jpg", size:"250x200" %>
        </div>
        <div class="form-group">
          <%= f.attachment_field :image %>
        </div>
        <div class="form-group">
          <div class="recipe-name" >
            <%= f.label "料理名" %>
            <%= f.text_field :food_name %>
          </div>
          <div class="recipe-kcal" >
            <%= f.label "kcal" %>
            <%= f.text_field :kcal %>
          </div>
          <div class="recipe-introduction" >
            <%= f.label "料理説明" %>
            <%= f.text_area :introduction %>
          </div>
          <div class="tag">
            <%= f.text_field :tag_ids, class: "form-control", id:'tag_ids', placeholder: "タグをつける。複数つけるには','で区切ってください" %>
          </div>
          <div class="form-group">
            <%= f.submit "新規登録", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  </div>
</div>
