<div class="container">
  <div class="row">
    <h4 class="col-8 texy-center">レシピ詳細</h4>
  </div>
  <div class="row">
    <div class="recipe-image">
      <%= attachment_image_tag @food, :image, :fill, 350, 200, format: 'jpeg' %>
    </div>

    <div class="food">
      <strong class="recipe-name">商品名</strong>
        <%= @food.food_name %>
    </div>

    <div class="food-kcal">
      <strong class="recipe-kcal">kcal</strong>
        <%= @food.kcal %>
    </div>

    <div class="recipe">
      <strong class="recipe-introduction">料理説明</strong>
        <%= @food.introduction %>
    </div>

    <div class="edit-btn">
      <%#<% if @customer == current_customer %>
        <%= link_to "編集する", edit_customers_food_path(@food), class: "btn btn-primary" %>
      <%#<% end %>
    </div>
  </div>
</div>
