<!DOCTYPE html>
<html>
  <head>
    <title>Healthy to eat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
　　<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
    <div class ="header">
    <header class="navbar">
      <div class="container">
        <div class="row">
          <nav class="nav navbar-nav navbar-left">
            <%= link_to 'Healthy to eat', root_path, class: "logo" %>
          </nav>
          <% if admin_signed_in? %>
            <div class="header-content">
              <nav>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to '会員一覧', admins_customers_path %></li>
                  <li><%= link_to '料理投稿履歴一覧', admins_foods_path %></li>
                  <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                </ul>
              </nav>
            </div>
          <% elsif customer_signed_in? %>
            <div class="header-content">
              <nav>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Home', root_path %></li>
                  <li><%= link_to 'マイページ', customers_customer_path(current_customer) %></li>
                  <li><%= link_to 'レシピ一覧', customers_foods_path %></li>
                  <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
                </ul>
              </nav>
            </div>
          <% else %>
            <div class="header-content">
              <nav>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Home', root_path %></li>
                  <li><%= link_to 'about', about_path %></li>
                  <li><%= link_to '新規登録', new_customer_registration_path %></li>
                  <li><%= link_to 'ログイン', new_customer_session_path %></li>
                </ul>
              </nav>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
　　<footer class="footer text-center">Copyright © Healthy to eat All Rights Reserved.</footer>
  </body>
</html>
